<div class="d-flex justify-content-between">
  <div class="inner-container">
    <div class="box">
      <h1>Login</h1>
      <form {{action "auth" on="submit"}}>
        {{input value=emailid required="true" placeholder="Email id"}}
        {{input value=password required="true" placeholder="Password"}}
        <button type="submit">Login</button>
      </form>
      <p>Not a member? {{#link-to 'user.u-signup'}}<span>Sign Up</span>{{/link-to}}</p>
    </div>
  </div>
</div>
