<div class="d-flex justify-content-between">
  <video id="Video1" class="bgvid back" autoplay="false" muted="muted" preload="auto" loop>
      <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
  </video>
  <div class="inner-container">
    <video id="Video2" class="bgvid inner" autoplay="false" muted="muted" preload="auto" loop>
      <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
    </video>
    <div class="box">
      <h1>Sign UP</h1>
      <input type="text" placeholder="Email Id"/>
      <input type="text" placeholder="Password"/>
      <input type="text" placeholder="Confirm Password"/>
      <button>Sign Up</button>
      <p>I am a member? {{#link-to 'user.u-login'}}<span>Login</span>{{/link-to}}</p>
    </div>
  </div>
</div>
